
#body {

/*background-image: url("./backdrop.jpg");
  background-size: contain;
  background-repeat: no-repeat;*/
  background-color: #8BADE6;
}

.header {
	position: -webkit-sticky; /* Safari */
	position: sticky;
  	padding: 2rem 1.5rem;
  	margin-bottom: 2rem;
}

.mainpage_logo {
/*	background-image: url("./favicon.png");
*/	border-radius: 100%;
	border-width: 2px;
	border-color: white;
	border-style: solid;
	/*width: 60px;
	height: 60px;*/
	display: block;
/*	border-right-width: 10px;*/
	padding-right: 7px;
	padding-left: 7px;
	padding-top: 2px;
	padding-bottom: 2px;
	float: left;
}

.header-logo {
  background: #f7b7f4;
  color: #6b4669;
  padding: .8rem;
  font: normal 1.8rem/2.2rem 'Gobold Bold', sans-serif;
  text-decoration: none;
  border-radius: 100%;
  display: block;
  float: left; }

.header-nav {
  text-align: right;
  height: 100%;
  vertical-align: middle;
  line-height: 55px;
}

.header-nav li {
  display: inline;
  border-style: solid;
  border-width: 2px;
  border-color: gray;
  padding: 4px;
  border-radius: 5px;
}

.header-nav a {
	text-decoration: none;
	font-family: "arial";
	font-weight: bold;
	color: gray;
}

.introduction {
	text-align: center;
	padding-bottom: 2rem;
	text-decoration: white;
}

.introduction p {
	color: white;
	font-family: "arial";
}

.focus {
	padding: 5rem;
	border-width: 5px;
	border-style: solid;
	border-color: black;
	background-color: white;
	width: 50%;
	margin-left: 25%;
}
.center_content {
	height: 100%;
	margin-bottom: 15rem;
}

.moving_content {

	position: absolute;
	left: 0;
	right: 0;
	margin: auto
}

.footer {
	margin-top: 20rem;
	padding: 2rem;
	text-align: center;
}

/* ------------------------------------- */
/* ------------------------------------- */

#computer, #computer_backdrop {
	-webkit-transition: opacity 1s ease-in-out;
  	-moz-transition: opacity 1s ease-in-out;
  	-o-transition: opacity 1s ease-in-out;
  	transition: opacity 1s ease-in-out;
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	z-index: 3;
}

#computer_backdrop {
	-webkit-transition: z-index 1s ease-in-out;
  	-moz-transition: z-index 1s ease-in-out;
  	-o-transition: z-index 1s ease-in-out;
  	transition: z-index 1s ease-in-out;
  	z-index: 1;
}

#computer_video {
	position: absolute; /*relative*/
    left: 50%;
	margin-left: -151px;
	top: 50%;
	margin-top: 16px;
	z-index: -1;
}

#robotics0 {
	visibility: visible;
	position: absolute;
	right: 50%;
	margin-right: -335px;
	top: 50%;
	margin-top: -50px;
	z-index: 1;
}

#robotics1, #robotics2, #robotics3, #robotics4 {
	visibility: hidden;
	position: absolute;
	right: 50%;
	margin-right: -335px;
	top: 50%;
	margin-top: -50px;
	z-index: 1;
}

#computer:hover {
	opacity:0;
}

#go_kart_enter {
    position: absolute; /*relative*/
    left: 50%;
	margin-left: -800px;
	top: 50%;
	margin-top: 25px;
	z-index: -1;
}

#go_kart_exit {
    position: absolute; /*relative*/
    right: 50%;
	margin-right: -75px;
	top: 50%;
	margin-top: 110px;
	z-index: 0;
}