---
---
$bg-color: #6b4669;
$bg-highlight-color: #f7b7f4;
$bg-dark-color: #4d314b;
$fg-color: #c5afc4;
$fg-inverted-color: #80547e;
$fg-text-color: #e4cfe3;
$highlight-color: #eebc4f;

body {
  background: $bg-color;
  width: 944px;
  margin: 0 auto;
}

.header {
  padding: 2rem 1.5rem;
  margin-bottom: 2rem;
}

.header-logo {
  background: $bg-highlight-color;
  color: $bg-color;
  padding: .8rem;
  font: normal 1.8rem/2.2rem 'Gobold Bold', sans-serif;
  text-decoration: none;
  border-radius: 100%;
  display: block;
  float: left;
}

.header-nav {
  text-align: right;
  height: 100%;
  vertical-align: middle;
  line-height: 55px;
}

.header-nav li {
  display: inline;
}

.hero {
  /*background: url("https://webdev.acm.jhu.edu/assets/laptop.png") center bottom no-repeat;
  padding-bottom: 190px;*/
  padding-bottom: 3rem; 
}

.hero-group,
.hero-actions {
  display: flex;
  justify-content: center;
}

.hero-group {
  margin-bottom: 2rem;
}

.hero-actions {
  margin: 4rem 0;
}

.hero-headshot {
  border-radius: 100%;
  border: 3px solid $bg-highlight-color;
  margin-right: 1rem;
}

.hero-text {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.hero-heading {
  color: $bg-highlight-color;
  font: normal 2rem/3rem 'Gobold Bold', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
}

.hero-subheading {
  color: $highlight-color;
  font: normal 1.5rem/2rem 'Montserrat', sans-serif;
}

.content {
  background: $fg-color;
  border-top: 3px solid $highlight-color;
  box-shadow: 0 0 50px 0 rgba(0, 0, 0, .25);
}

.content-header {
  padding: 2rem;
}

.content-heading {
  color: $bg-dark-color;
  font: normal 1.7rem/2rem 'Gobold Thin', sans-serif;
}

.content-body {
  background: $fg-inverted-color;
  border-top: 3px solid $highlight-color;
  padding: 3rem;
  font: normal 1rem/1.7rem 'Montserrat', sans-serif;
  color: $fg-text-color;
}

.content-actions {
  text-align: right;
  margin-top: 1rem;
}

.footer {
  color: $highlight-color;
  text-align: center;
  padding: 2rem 0;
  font: normal 0.8rem/1rem 'Montserrat', sans-serif;
  margin-top: 2rem;
}

.pill-btn {
  font-weight: normal;
  font-family: 'Gobold Thin', sans-serif;
  //font: normal 'Gobold Thin', sans-serif; this would override the font size for every place we put the button
  text-decoration: none;
  border: 2px solid black;
  border-radius: 30px;
  text-transform: uppercase;
  margin-right: 0.5rem;
}

.header .pill-btn {
  color: rgba($bg-highlight-color, .8);
  border-color: $bg-highlight-color;
  font-size: .9rem;
  padding: .35rem 1rem;
  letter-spacing: 0.15rem;
}

.hero .pill-btn,
.content-action .pill-btn {
  color: rgba($bg-highlight-color, .8);
  border-color: $highlight-color;
  padding: .5rem 1.6rem;
  letter-spacing: .2rem;
}

.content-action .pill-btn {
  padding: .3rem 0.9rem;
  letter-spacing: .15rem;
}

.content-group .pill-btn {
  color: #eebc4f;
  border-color: #eebc4f;
  padding: .2rem 1.0rem;
  letter-spacing: .2rem;
}

.page {
  font-family: 'Gobold Thin', sans-serif;
  text-align: center;
  color: #eebc4f;
  line-height: 30px;
}

.page .title {
  text-align: center;
  padding: 4rem;
  font-size: 7rem;
}

.page .picture, .description {
  padding: 4rem;
}

.running {
  border-radius: 3rem;
  border: 3px solid #eebc4f;
}

.page .gitcat {
  background: url("https://cloud.githubusercontent.com/assets/21249755/25603071/d0d6921a-2ec6-11e7-8a09-24af43c2dcc1.png");
  padding: 3rem;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 2rem;
}

.page .bitbucket {
  background: url("https://bitbucket-marketing-cdn.atlassian.com/dam/jcr:1437c132-1dbc-410d-b6a6-cb7fce8f2775/bitbucket_rgb_darkblue_atlassian_1200x630.png");
  padding-bottom: 2.5rem;
  padding-top: 2.5rem;
  padding-left: 5rem;
  padding-right: 5rem;
  justify-content: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.page .say2eat {
  background: url("https://cloud.githubusercontent.com/assets/21249755/25604292/6741ecfa-2ed0-11e7-99ef-1abdc2110ab2.png");
  padding: 3rem;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 2rem;
}

.page .video {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  padding: 2rem;
  margin-bottom: 4rem;
  background:$bg-dark-color;
}

.testbtn {
  padding: 2rem;
  background: red;
}

.coding {
  padding: 3rem;
  /*background: $bg-dark-color;*/
  text-align: center;
}

.chess-game {
  padding: 5rem;
  background: $bg-dark-color;
  text-align: center;
  border-radius: 10px;
  margin-left: 5rem;
  margin-right: 5rem;
}

button[id = "chess-btn"] {
  background-color: #8faee0;
  border-radius: 4px;
  border: none;
  color: yellow;
  /*padding-right: 5rem;
  padding-left: 5rem;*/
  height: 3rem;
  width: 10rem;

}

.chess-input {
  padding: 2rem;
  text-align: center;
  margin-left: 8rem;
  margin-right: 8rem;
}

input[name = chess-input] {
  background-color: #8faee0;
  border: none;
  border-radius: 3px;
  width: 15rem;
  height: 3rem;
  text-align: center;
  color: yellow;
}

