---
layout: default
---

<div class = "hero">
  <div class="hero-group">
    <img src = "https://media.licdn.com/mpr/mpr/shrinknp_200_200/AAEAAQAAAAAAAAjsAAAAJDE4YTE2NTQ1LWFjYmUtNDYxMi04Y2QzLWRjMWQ0ZDhiOGIxMw.jpg" alt="David" class="hero-headshot"/>
    <div class = "hero-text">
    <h1 class="hero-heading">Hi! I'm David</h1>
    <h2 class="hero-subheading">Electrical <em>Engineer</em></h2>
  </div>
  </div>
  <ul class="hero-actions">
    <li><a href="#" class="pill-btn"><i class="fa fa-file"></i> Resume</a></li>
    <li><a href="#" class="pill-btn"><i class="fa fa-envelope"></i> Contact</a></li>
  </ul>
</div>
<div class = "content">
  {{content}}
</div>